body {
  font-family: 'Montserrat';
  text-align: center;
  overflow-x: hidden;
  background-color: #020c3b;
}

.floatingtext {
  text-align: left;
}

.form-floating {
  text-align: center;
}

.form-signin {
  max-width: 1000px;
  padding: 15px;
}

